.wrapper {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 2rem;
    align-items: flex-start;
}


@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}