.wrapper {
    display: grid;
    grid-template-columns: 440px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.content{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem 0 2rem;
}

.buttonCOrF {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4.2rem 0 0;

}

.cOrF {

    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 10px;
    margin-left: 8px;


}

.colorType {
    background: var(--lilac-400);
    color: var(--white);
}


@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .content {
        max-width: 460px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 4rem 0 4rem;
    }

    .buttonCOrF  {
        padding-top: 0;
    }
}